/* Variables */
:root {
  --color-Bright-Blue: hsl(220, 98%, 61%);
  --check-bg-gradiant: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Dark Theme */
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Input-Footer-color: hsl(236, 22%, 48%);
  --Done-task: hsl(233, 11%, 84%);
}
/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  
}
/* Body Dark Theme */
body.theme.dark {
  background-color: var(--Very-Dark-Blue);
}
/* Body light them */
body.theme.light {
  background-color: var(--Done-task);
 
}
.container {
  width: 500px;
  margin: 0 auto;
}
/* Header Styling */
.header {
  padding: 40px 0;
  height: 230px;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  color: var(--text-color);
  position: relative;
}
.header nav .svg {
   background-color: transparent; 
}
.dark .header nav .svg svg.light {
  
   display: none; 
}
.dark .header nav .svg svg.dark {
   display: block; 
  
}
/* Header light Theme */
.light .header {
  background-image: url(./images/bg-desktop-light.jpg);
  color: #fff;
}
/* Nav Light Theme */
.light .header nav .svg svg.dark {
   display: none; 
}
.light .header nav .svg svg.light {
   display: block; 
}

/* Nav Styling */
header nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  position: relative;
}
.header nav h2 {
  text-transform: uppercase;
  letter-spacing: 15px;
}

/* Form Styling */

.container form {
  margin-bottom: 15px;
  position: relative;
}
.container form input[type="text"] {
  border: none;
  font-size: 18px;
  font-family: inherit;
  border-radius: 4px;
  padding: 15px 30px 15px 40px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--Very-Dark-Desaturated-Blue);
}
.container form input[type="text"]:focus {
  outline: none;
}
.container form .check {
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  left: 10px;
  top: 13px;
}
.container form .check svg {
  display: none;
}

/* Form Light Theme */
.light .header form input[type="text"] {
  color: var(--Input-Footer-color);
  background-color: var(--Very-Light-Gray);
}

/* Tasks Container */

.container .tasks {
  box-shadow: 0px 12px 14px 0px hsl(232 25% 10% / 1);
  border-radius: 0 0 4px 4px;
}

/* Tasks Light Theme */
.light .header .tasks {
  box-shadow: 0px 12px 14px 0px var(--Done-task);
}
.light .header .tasks .task {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Desaturated-Blue);
}
.light .header .tasks .task .check {
  background-color: transparent;
}

/* Task Styling  */

.container .tasks .task {
  width: 100%;
  background-color: var(--Very-Dark-Desaturated-Blue);
  display: flex;
  padding: 14px 20px;
  position: relative;
}
.container .tasks div.task:nth-child(1) {
  border-radius: 4px 4px 0 0;
}

.container .tasks .task .check {
  position: absolute;
  top: 13px;
  left: 15px;
 border-radius: 50%; 
  border: 1px solid var(--text-color);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--Very-Dark-Desaturated-Blue);
}
.container .tasks .task .check svg {
  pointer-events: none;
}
.container .task h4{
  /* flex-grow: 1; */
  margin-left: 30px;
  font-weight: normal;
}
.container .task.finished h4 {
  text-decoration: line-through;
  opacity: 0.3;
}
.container .task.done h4
.container .task h4, button, .check {
  cursor: pointer;
}
.container .task button.delete {
 background-color: transparent;
 border: none;
 margin-left: auto;
}
.container .task button.delete svg, .container .task h4 {
  pointer-events: none;
}
.container .task .gradient-border {
  background-image: linear-gradient(
    135deg ,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 14px;
 display: none;
}
.container .tasks .task .check:hover .gradient-border{
 display: block;
}

.container .task .check svg {
  display: none;
}
.container .task::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: hsl(237, 14%, 36%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}
/* Finished Task Styling */
.container .task.finished {
}
.container .task.finished .check {
  background-image: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.container .task.finished .check svg {
  display: block;
}

/* Styling Footer of header */
.header  footer {
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: rgb(79, 80, 105);
  border-radius: 0 0 4px 4px;
}
.header  footer .clear {
  cursor: pointer;
}
.header footer.zero-items {
  border-radius: 4px;
}
.header  footer .completion {
 display: flex;
  cursor: pointer;
}
.header  footer .completion div {
  padding: 0px 10px;
  font-weight: bold;
}
.header  footer .completion div:hover, .clear:hover {
  color: var(--Very-Light-Gray);
}
.header  footer .completion .all {
  /* color: var(--color-Bright-Blue); */

}
/* Hide The Mobile completion */
.header  .completion-mobile {
  display: none;
}

/* header's Footer Light Theme */
.light .header  footer {
  color: rgb(79, 80, 105);
  background-color: var(--Very-Light-Gray);
}

/* Small devices */

@media (max-width: 375px) {
  .container {
    width: 85%;
  }
  /* Header Styling */
  .header {
  }
  .header nav .svg {
     transform: scale(0.9);
     margin: auto 0 auto -10px;
  }
 
/* Styling Footer of header */
.header  footer {
  margin-bottom: 15px;
}
.header  .completion-mobile {
  font-family: inherit;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: 13px 20px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(79, 80, 105);
  border-radius: 4px;
}
/* for light theme */
.light .header  .completion-mobile {
  color: rgb(79, 80, 105);
  background-color: var(--Very-Light-Gray);
}
.header  .completion-mobile .all, .active {
  margin-right: 15px;
}
.header footer .completion {
 display: none;

}
.header .completion-mobile .all {
 color: var(--color-Bright-Blue);
}

/* header's Footer Light Theme */
.light .header  footer {
 color: rgb(79, 80, 105);
 background-color: var(--Very-Light-Gray);
}
  
}
